.root {
  border-bottom: 1px var(--grayscale-80) solid;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}