:root {
  --grayscale-white: #ffffff;
  --grayscale-85: #cbc8c8;
  --grayscale-80: #ffffff80;
  --grayscale-25: #ffffff25;
  --grayscale-10: #858484;
  --grayscale-grey: #8180808a;
  --grayscale-grey-ph: #a0a0a0;
  --grayscale-grey-light: #e8e8e8;
  --grayscale-grey-shadow: #00000026;
  --grayscale-layout: #00000080;
  --grayscale-black: #000000;

  --primary-blue-deep: #0c1526;
  --primary-blue-navy: #142c57;
  --primary-blue-light: #6087cf;

  --primary-red-dark: #4f0101;
  --primary-red-light: #691010;
  --primary-red-error: #ff3055;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-blue-deep);
  color: var(--grayscale-white);
}