.typography--variant-h1 {
	margin: 0;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}

.typography--variant-span1 {
	margin: 0;
	font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.typography--color-grayscale-white {
	color: var(--grayscale-white);
}